<?xml version='1.0' encoding='utf-8'?>
<widget id="org.myteamcare.mobile" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>CSF Provider App</name>
    <description>
      Application for CSF Providers to Search Member Eligibility
   </description>
    <author> i.c.stars|* Dev
   </author>
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="exit-on-suspend" value="false" />

    <!-- Android SECTION -->
        <config-file platform="android" parent="/manifest" mode="merge" >
            <!-- Add Android extensions here. -->
            <!-- SEE: http://docs.build.phonegap.com/en_US/configuring_config_file_element.md.html#Config%20File%20Elements -->
        </config-file>

        <!-- iOS SECTION -->
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <!-- Add iOS extensions here. SEE: http://docs.build.phonegap.com/en_US/configuring_config_file_element.md.html#Config%20File%20Elements -->
            <key>NSAppTransportSecurity</key>
                <dict>
                  <key>NSAllowsArbitraryLoads</key>
                  <true/>
                </dict>
        </config-file>


    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/drawable-ldpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/drawable-mdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/drawable-hdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/drawable-xhdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icon/android/drawable-xxhdpi/ic_launcher.png" />

    <icon gap:platform="ios" gap:qualifier="" src="res/icon/ios/Icon-72.png" />
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />


        <!-- PLUGINS * PLUGINS * PLUGINS -->
        <!-- spec="" follows the syntax of https://docs.npmjs.com/cli/install -->
        <plugin name="cordova-plugin-device"         source="npm" spec="1.0.1" />
        <plugin name="cordova-plugin-file"           source="npm" spec="3.0.0" />
        <plugin name="cordova-plugin-whitelist"      source="npm" spec="1.0.0" /> <!-- NEW -->
        <plugin name="cordova-plugin-inappbrowser"   source="npm" spec="1.2.1" />

        <allow-navigation href="*" />
        <allow-intent href="*" />
        <access origin="*" /> <!-- Required for iOS9 -->

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>


    <access origin="https://myteamcare.org/*" />
    <access origin="http://192.168.0.9:8080/*" />
    <access origin="http://debug.phonegap.com/ " subdomains="true" />
    <access origin= "http://debug2.build.phonegap.com/" subdomains="true" />

</widget>
